body, #root {
  background: linear-gradient(to bottom right, #fff5e1, #ffd6a5);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  color: #311616;
}

.header {
  text-align: center;
  padding: 20px;
}

.dashboard {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgba(255, 200, 130, 0.4);
  border-radius: 12px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(255, 140, 0, 0.3);
}

.weather-container {
  text-align: center;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.search-controls {
  text-align: center;
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #ffa500;
  border-radius: 6px;
  margin-right: 10px;
}

button {
  background-color: #ffa500;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

nav {
  position: fixed; 
  top: 0; 
  right: 0; 
}

.home-link 
{
  border:1px dotted white;
  background:#1d1f1d;
  width:75px;
}

.charts-container {
  margin: 40px auto;
  width: 90%;
  background: #fff9e6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
